In [4]:
import _pickle as cpickle
import xarray as xr
import pandas as pd
import numpy as np

In [51]:
import itertools

In [2]:
import sys
sys.path.append('../scripts/indices')

In [3]:
sys.path.append("/home/abhi/Documents/mygit/postBC_diagnostic/src/scripts")
from recipes import *

In [5]:
import prInd

In [87]:
import tasInd

In [6]:
outdir = '/home/abhi/Documents/mygit/NEX-Analysis/pickles/Amravati/Indices'

In [8]:
scenIndex = pd.Index(['historical', 'rcp45', 'rcp85'], name='scen')

### Load dsets

In [40]:
dsets = {}

In [41]:
fut_years = range(2006, 2090 + 1)

In [43]:
for scen in scenIndex:
    with open(f'../../pickles/Amravati/Amravati_ALL21_{scen}_ds.pkl', 'rb') as f:
        if scen in ['rcp45', 'rcp85']:
            dsets[scen] = selyear(cpickle.load(f), fut_years)
        else:
            dsets[scen] = cpickle.load(f)

In [44]:
def extract_var(scen, variable, ens_mean=True):
    ds = dsets[scen]
    var = ds.sel(variable=variable)['value']
    
    if variable == 'pr':
        var = var*86400
        units = 'mm/day'
    elif variable in ['tasmax', 'tasmin']:
        var = var - 273.15
        units = 'degC'
        
        
    if ens_mean:
        var = var.mean(dim='model')
    
    var.attrs['units'] = units

        
    return(var)

### make_metric_ds

In [45]:
thresh_vals, ndays = [1], [3, 5, 7, 10]
pctls = [75, 90, 95, 99]

In [46]:
base_years = range(1976, 2005 + 1)

In [47]:
def make_metric_dict_yearmean(metric_dict):
    for k, v in metric_dict.items():
        try:
            metric_dict[k] = yearmean(v)
        except KeyError:
            pass
    
    return(metric_dict)

In [108]:
def change_metric_dict_variable_coord_temperature(metric_dict):
    for k, v in metric_dict.items():
        try:
            metric_dict[k] = v.assign_coords(variable='temperature')
        except KeyError:
            pass
    
    return(metric_dict)

In [114]:
def make_metric_ds(scen, variable):
    metric_dict = {}
    
    if variable == 'precipitation':
        thresh_vals, ndays = [1], [3, 5, 7, 10]
        pctls = [75, 90, 95, 99]
        
        var = extract_var(scen, 'pr')

        for thresh_val in thresh_vals:
            thresh = f'{thresh_val} mm/day'
            metric_dict[f'max_cdd_{thresh_val}'] = prInd.max_consec_days(var, 'cdd', thresh)
            metric_dict[f'max_cwd_{thresh_val}'] = prInd.max_consec_days(var, 'cwd', thresh)
            metric_dict[f'intensity_above_{thresh_val}mm'] = prInd.intensity_above_thresh(var, thresh)
            metric_dict[f'days_above_{thresh_val}mm'] = prInd.days_above_thresh(var, thresh)
            
        for thresh_val, nday in itertools.product(thresh_vals, ndays):
            thresh = f'{thresh_val} mm/day'
            metric_dict[f'num_cdd_{thresh_val}_{nday}'] = prInd.num_consec_days(var, 'cdd', thresh, nday)
            metric_dict[f'num_cwd_{thresh_val}_{nday}'] = prInd.num_consec_days(var, 'cwd', thresh, nday)
            
        for nday in [1] + ndays:
            metric_dict[f'max_{nday}_day_pr_amt'] = prInd.max_n_day_pr_amt(var, nday)
        
        if scen == 'historical':
            var_fut = var_base = var
        else:
            var_fut = var
            var_base = extract_var('historical', 'pr')
            
        for pctl in pctls:
            metric_dict[f'intensity_above_{pctl}p'] = prInd.intensity_above_pctl(var_fut, 
                                                                                 selyear(var_base, base_years), 
                                                                                 pctl)
            metric_dict[f'days_above_{pctl}p'] = prInd.days_above_pctl(var_fut, 
                                                                       selyear(var_base, base_years), 
                                                                       pctl)
            
    elif variable == 'temperature':
        thresh_vals, ndays = [35, 40, 45], [3, 5, 7, 10]
        pctls = [75, 90, 95, 99]
        
        var = extract_var(scen, 'tasmax')

        for thresh_val in thresh_vals:
            thresh = f'{thresh_val} degC'
            metric_dict[f'max_chd_{thresh_val}'] = tasInd.max_consec_days(var, 'chd', thresh)
            metric_dict[f'intensity_above_{thresh_val}C'] = tasInd.intensity_above_thresh(var, thresh)
            metric_dict[f'days_above_{thresh_val}C'] = tasInd.days_above_thresh(var, thresh)
            
        
        for thresh_val, nday in itertools.product(thresh_vals, ndays):
            thresh = f'{thresh_val} degC'
            metric_dict[f'num_chd_{thresh_val}_{nday}'] = tasInd.num_consec_days(var, 'chd', thresh, nday)
            
            
        for nday in [1] + ndays:
            metric_dict[f'max_{nday}_day_tas_mean'] = tasInd.max_n_day_tas_mean(var, nday)
            
            
        if scen == 'historical':
            var_fut = var_base = var
        else:
            var_fut = var
            var_base = extract_var('historical', 'tasmax')
            
            
        for pctl in pctls:
            metric_dict[f'intensity_above_{pctl}p'] = tasInd.intensity_above_pctl(var_fut, 
                                                                                 selyear(var_base, base_years), 
                                                                                 pctl)
            metric_dict[f'days_above_{pctl}p'] = tasInd.days_above_pctl(var_fut, 
                                                                       selyear(var_base, base_years), 
                                                                       pctl)
            
        
        tasmax = extract_var(scen, 'tasmax')
        tasmin = extract_var(scen, 'tasmin')
        
        metric_dict['daily_temperature_range'] = tasInd.daily_temperature_range(tasmax, tasmin)
        metric_dict['daily_temperature_range_variability'] = tasInd.daily_temperature_range_variability(tasmax, tasmin)
        
        
    metricIndex = pd.Index(metric_dict.keys(), name='metric')
    metric_dict = make_metric_dict_yearmean(metric_dict)
    metric_dict = change_metric_dict_variable_coord_temperature(metric_dict)
    metric_ds = xr.concat(metric_dict.values(), dim=metricIndex)        
        
    return(metric_ds)

In [115]:
res = make_metric_ds('historical', 'temperature')

In [113]:
res

{'max_chd_35': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[113., 109., 112., ..., 116., 109., 121.],
        [  0.,   0.,   0., ...,   0.,   2.,   0.],
        [ 91.,  88.,  86., ...,  91.,  89.,  91.],
        [ 22.,  21.,  26., ...,  25.,  20.,  30.],
        [  0.,   0.,   0., ...,   0.,   0.,   0.]])
 Coordinates:
     variable  <U11 'temperature'
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005,
 'intensity_above_35C': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[39.591107, 39.37247 , 39.380762, ..., 39.859529, 39.183538, 39.962283],
        [      nan,       nan,       nan, ...,       nan, 35.164604,       nan],
        [39.948085, 39.521384, 39.860628, ..., 40.276588, 40.451562, 40.231098],
        [38.520172, 38.925729, 37.941164, ..., 38.608354, 39.398401, 39.155839],
        [      nan,       nan,       nan, ...,       nan,       nan,       nan]])
 Coordinates:
     variable  <U11 'temperature'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON',
 'days_above_35C': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[113, 109, 112, ..., 116, 111, 121],
        [  0,   0,   0, ...,   0,   2,   0],
        [ 91,  88,  86, ...,  91,  89,  91],
        [ 22,  21,  26, ...,  25,  20,  30],
        [  0,   0,   0, ...,   0,   0,   0]])
 Coordinates:
     variable  <U11 'temperature'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON',
 'max_chd_40': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[57., 46., 60., ..., 62., 65., 61.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [50., 42., 53., ..., 52., 55., 49.],
        [ 7.,  4.,  7., ..., 10., 10., 12.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.]])
 Coordinates:
     variable  <U11 'temperature'
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005,
 'intensity_above_40C': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[41.287135, 40.979675, 41.192229, ..., 41.78689 , 41.773329, 41.925856],
        [      nan,       nan,       nan, ...,       nan,       nan,       nan],
        [41.64434 , 41.168844, 41.433228, ..., 42.051692, 42.165834, 42.137742],
        [40.572723, 40.601336, 40.710231, ..., 41.257288, 40.988321, 41.502084],
        [      nan,       nan,       nan, ...,       nan,       nan,       nan]])
 Coordinates:
     variable  <U11 'temperature'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON',
 'days_above_40C': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[57, 54, 60, ..., 65, 65, 63],
        [ 0,  0,  0, ...,  0,  0,  0],
        [50, 47, 53, ..., 55, 55, 49],
        [ 7,  7,  7, ..., 10, 10, 14],
        [ 0,  0,  0, ...,  0,  0,  0]])
 Coordinates:
     variable  <U11 'temperature'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON',
 'max_chd_45': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])
 Coordinates:
     variable  <U11 'temperature'
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005,
 'intensity_above_45C': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan]])
 Coordinates:
     variable  <U11 'temperature'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON',
 'days_above_45C': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]])
 Coordinates:
     variable  <U11 'temperature'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON',
 'num_chd_35_3': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[113, 109, 112, ..., 116, 109, 121],
        [  0,   0,   0, ...,   0,   0,   0],
        [ 91,  88,  86, ...,  91,  89,  91],
        [ 22,  21,  26, ...,  25,  20,  30],
        [  0,   0,   0, ...,   0,   0,   0]])
 Coordinates:
     variable  <U11 'temperature'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON',
 'num_chd_35_5': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[113, 109, 112, ..., 116, 109, 121],
        [  0,   0,   0, ...,   0,   0,   0],
        [ 91,  88,  86, ...,  91,  89,  91],
        [ 22,  21,  26, ...,  25,  20,  30],
        [  0,   0,   0, ...,   0,   0,   0]])
 Coordinates:
     variable  <U11 'temperature'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON',
 'num_chd_35_7': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[113, 109, 112, ..., 116, 109, 121],
        [  0,   0,   0, ...,   0,   0,   0],
        [ 91,  88,  86, ...,  91,  89,  91],
        [ 22,  21,  26, ...,  25,  20,  30],
        [  0,   0,   0, ...,   0,   0,   0]])
 Coordinates:
     variable  <U11 'temperature'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON',
 'num_chd_35_10': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[113, 109, 112, ..., 116, 109, 121],
        [  0,   0,   0, ...,   0,   0,   0],
        [ 91,  88,  86, ...,  91,  89,  91],
        [ 22,  21,  26, ...,  25,  20,  30],
        [  0,   0,   0, ...,   0,   0,   0]])
 Coordinates:
     variable  <U11 'temperature'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON',
 'num_chd_40_3': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[57, 52, 60, ..., 65, 65, 61],
        [ 0,  0,  0, ...,  0,  0,  0],
        [50, 45, 53, ..., 55, 55, 49],
        [ 7,  7,  7, ..., 10, 10, 12],
        [ 0,  0,  0, ...,  0,  0,  0]])
 Coordinates:
     variable  <U11 'temperature'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON',
 'num_chd_40_5': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[57, 46, 60, ..., 62, 65, 61],
        [ 0,  0,  0, ...,  0,  0,  0],
        [50, 42, 53, ..., 52, 55, 49],
        [ 7,  0,  7, ..., 10, 10, 12],
        [ 0,  0,  0, ...,  0,  0,  0]])
 Coordinates:
     variable  <U11 'temperature'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON',
 'num_chd_40_7': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[57, 46, 60, ..., 62, 65, 61],
        [ 0,  0,  0, ...,  0,  0,  0],
        [50, 42, 53, ..., 52, 55, 49],
        [ 7,  0,  7, ..., 10, 10, 12],
        [ 0,  0,  0, ...,  0,  0,  0]])
 Coordinates:
     variable  <U11 'temperature'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON',
 'num_chd_40_10': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[57, 46, 60, ..., 62, 65, 61],
        [ 0,  0,  0, ...,  0,  0,  0],
        [50, 42, 53, ..., 52, 55, 49],
        [ 0,  0,  0, ..., 10, 10, 12],
        [ 0,  0,  0, ...,  0,  0,  0]])
 Coordinates:
     variable  <U11 'temperature'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON',
 'num_chd_45_3': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]])
 Coordinates:
     variable  <U11 'temperature'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON',
 'num_chd_45_5': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]])
 Coordinates:
     variable  <U11 'temperature'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON',
 'num_chd_45_7': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]])
 Coordinates:
     variable  <U11 'temperature'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON',
 'num_chd_45_10': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]])
 Coordinates:
     variable  <U11 'temperature'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON',
 'max_1_day_tas_mean': <xarray.DataArray (seas: 5, year: 56)>
 array([[42.863693, 42.315739, 42.565735, ..., 43.128948, 43.325096, 43.603539],
        [34.676041, 34.845139, 34.159832, ..., 34.878838, 35.256756, 34.720268],
        [42.863693, 42.315739, 42.565735, ..., 43.128948, 43.325096, 43.603539],
        [41.129471, 40.934334, 41.660824, ..., 41.832188, 41.660709, 42.921257],
        [33.897938, 33.850128, 34.030743, ..., 34.330856, 34.403145, 34.006187]])
 Coordinates:
     variable  <U11 'temperature'
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005,
 'max_3_day_tas_mean': <xarray.DataArray (seas: 5, year: 56)>
 array([[42.745412, 42.264002, 42.505269, ..., 43.084244, 43.261998, 43.465459],
        [34.365112, 34.578491, 33.882393, ..., 34.705266, 35.062052, 34.585894],
        [42.745412, 42.263992, 42.505244, ..., 43.084295, 43.262049, 43.46548 ],
        [40.958603, 40.719889, 41.279846, ..., 41.805346, 41.457743, 42.794617],
        [33.71433 , 33.778778, 33.966927, ..., 34.158605, 34.323786, 33.922114]])
 Coordinates:
     variable  <U11 'temperature'
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005,
 'max_5_day_tas_mean': <xarray.DataArray (seas: 5, year: 56)>
 array([[42.684384, 42.24946 , 42.466037, ..., 42.984949, 43.199747, 43.484161],
        [34.221875, 34.423099, 33.701355, ..., 34.402664, 34.875772, 34.577008],
        [42.684384, 42.24946 , 42.466025, ..., 42.98479 , 43.199594, 43.484039],
        [40.719577, 40.489014, 40.961609, ..., 41.579364, 41.221497, 42.736728],
        [33.580307, 33.649301, 33.878278, ..., 34.116394, 34.243939, 33.798123]])
 Coordinates:
     variable  <U11 'temperature'
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005,
 'max_7_day_tas_mean': <xarray.DataArray (seas: 5, year: 56)>
 array([[42.690526, 42.197815, 42.446825, ..., 42.902976, 43.139836, 43.375833],
        [34.09928 , 34.239166, 33.542995, ..., 34.291787, 34.590234, 34.402065],
        [42.690526, 42.197798, 42.446799, ..., 42.903054, 43.139923, 43.375929],
        [40.572728, 40.524362, 40.710249, ..., 41.496621, 41.165536, 42.619324],
        [33.506633, 33.5803  , 33.832184, ..., 33.979621, 34.258294, 33.772337]])
 Coordinates:
     variable  <U11 'temperature'
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005,
 'max_10_day_tas_mean': <xarray.DataArray (seas: 5, year: 56)>
 array([[42.625098, 42.129788, 42.450812, ..., 42.821793, 43.099829, 43.254553],
        [33.841821, 33.948026, 33.265482, ..., 34.283078, 34.153528, 34.114545],
        [42.625092, 42.129776, 42.450793, ..., 42.82178 , 43.099829, 43.254572],
        [40.167865, 40.328845, 40.302533, ..., 41.257202, 40.988239, 41.999103],
        [33.496716, 33.584235, 33.761679, ..., 33.907089, 34.215695, 33.699884]])
 Coordinates:
     variable  <U11 'temperature'
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005,
 'intensity_above_75p': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[40.501507, 40.362965, 40.58404 , ..., 40.98748 , 41.033318, 40.866188],
        [33.199593, 32.897877, 32.691906, ..., 33.5     , 32.913147, 32.987446],
        [42.41887 , 42.20289 , 42.29957 , ..., 42.607697, 42.75309 , 42.81523 ],
        [37.643726, 37.778816, 37.58173 , ..., 37.753754, 37.53636 , 38.323643],
        [33.62143 , 33.631645, 33.740826, ..., 33.748943, 33.960827, 33.690666]],
       dtype=float32)
 Coordinates:
     variable  <U11 'temperature'
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005,
 'days_above_75p': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[ 93.,  86.,  85., ...,  92.,  93., 100.],
        [ 17.,  21.,  20., ...,  21.,  28.,  21.],
        [ 21.,   7.,  21., ...,  37.,  36.,  29.],
        [ 28.,  28.,  29., ...,  31.,  31.,  36.],
        [  7.,  10.,  14., ...,  20.,  23.,  28.]])
 Coordinates:
     variable  <U11 'temperature'
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005,
 'intensity_above_90p': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[42.208126, 41.954865, 42.13568 , ..., 42.43572 , 42.600956, 42.559994],
        [34.052563, 34.06044 , 33.701332, ..., 34.159786, 34.474094, 34.114563],
        [42.725403,       nan, 42.565735, ..., 42.784664, 42.90059 , 42.982113],
        [40.023945, 40.115055, 40.179417, ..., 41.101852, 40.635925, 41.122738],
        [33.897938, 33.81559 , 33.928608, ..., 34.060394, 34.111324, 33.924023]],
       dtype=float32)
 Coordinates:
     variable  <U11 'temperature'
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005,
 'days_above_90p': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[35., 21., 34., ..., 46., 43., 48.],
        [ 8.,  9.,  5., ..., 14.,  8., 10.],
        [ 6.,  0.,  1., ..., 22., 27., 23.],
        [12., 12., 11., ..., 11., 13., 17.],
        [ 1.,  3.,  4., ...,  7., 17.,  5.]])
 Coordinates:
     variable  <U11 'temperature'
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005,
 'intensity_above_95p': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[42.503754, 42.303646, 42.41443 , ..., 42.6452  , 42.82691 , 42.90585 ],
        [34.298317, 34.423088, 34.159832, ..., 34.399178, 34.875725, 34.493015],
        [42.839478,       nan,       nan, ..., 43.0094  , 43.023857, 43.058765],
        [40.958603, 40.847534, 41.12341 , ..., 41.3487  , 41.123344, 42.449963],
        [      nan,       nan, 34.030743, ..., 34.12031 , 34.16997 , 34.006187]],
       dtype=float32)
 Coordinates:
     variable  <U11 'temperature'
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005,
 'days_above_95p': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[16.,  3., 13., ..., 34., 32., 30.],
        [ 4.,  5.,  1., ...,  9.,  5.,  6.],
        [ 3.,  0.,  0., ...,  9., 18., 19.],
        [ 3.,  3.,  4., ...,  9.,  8.,  8.],
        [ 0.,  0.,  1., ...,  5., 13.,  1.]])
 Coordinates:
     variable  <U11 'temperature'
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005,
 'intensity_above_99p': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[42.863693,       nan,       nan, ..., 43.009407, 43.068653, 43.186863],
        [      nan, 34.84514 ,       nan, ..., 34.878838, 35.062122,       nan],
        [      nan,       nan,       nan, ...,       nan, 43.243813, 43.484035],
        [      nan,       nan,       nan, ..., 41.832188,       nan, 42.619434],
        [      nan,       nan,       nan, ..., 34.330856, 34.403145,       nan]],
       dtype=float32)
 Coordinates:
     variable  <U11 'temperature'
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005,
 'days_above_99p': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[ 1.,  0.,  0., ...,  9., 15., 13.],
        [ 0.,  1.,  0., ...,  1.,  3.,  0.],
        [ 0.,  0.,  0., ...,  0.,  5.,  5.],
        [ 0.,  0.,  0., ...,  1.,  0.,  7.],
        [ 0.,  0.,  0., ...,  1.,  1.,  0.]])
 Coordinates:
     variable  <U11 'temperature'
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005,
 'daily_temperature_range': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[12.919227, 12.835511, 12.844327, ..., 12.588435, 12.665349, 12.718786],
        [15.311899, 15.315972, 15.28522 , ..., 14.779131, 15.138262, 14.983214],
        [15.884376, 15.491763, 15.53177 , ..., 15.522034, 15.503954, 15.455522],
        [ 8.505729,  8.593612,  8.552056, ...,  8.463484,  8.510778,  8.614386],
        [13.744019, 13.653462, 13.774356, ..., 13.181714, 13.04476 , 13.459097]],
       dtype=float32)
 Coordinates:
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005
     variable  <U11 'temperature',
 'daily_temperature_range_variability': <xarray.DataArray 'value' (seas: 5, year: 56)>
 array([[0.254474, 0.262164, 0.235242, ..., 0.249401, 0.227313, 0.238798],
        [0.281183, 0.292119, 0.262078, ..., 0.294651, 0.234708, 0.265409],
        [0.24396 , 0.244978, 0.24073 , ..., 0.281513, 0.24872 , 0.253616],
        [0.219015, 0.261481, 0.252027, ..., 0.239524, 0.25813 , 0.248151],
        [0.321588, 0.38577 , 0.31748 , ..., 0.290217, 0.236527, 0.290756]],
       dtype=float32)
 Coordinates:
   * seas      (seas) object 'Annual' 'DJF' 'MAM' 'JJAS' 'ON'
   * year      (year) int64 1950 1951 1952 1953 1954 ... 2001 2002 2003 2004 2005
     variable  <U11 'temperature'}

In [74]:
def get_tslice(year):
    if year in range(1976, 2006):
        tslice = 'baseline'
    elif year < 1976:
        tslice = 'baseline-remain'
    elif year in range(2006, 2021):
        tslice = '2006-2020'
    elif year in range(2021, 2051):
        tslice = 'near'
    elif year in range(2051, 2061):
        tslice = '2051-2061'
    elif year in range(2061, 2091):
        tslice = 'far'
    elif year > 2090:
        tslice = 'end-of-century'
        
    return(tslice)

In [116]:
metric_ds_base = make_metric_ds('historical', 'temperature')

In [117]:
metric_df_base = metric_ds_base.to_dataframe('value').reset_index()
metric_df_base['scen'] = 'historical'

In [118]:
metric_ds_fut = xr.concat([make_metric_ds(scen, 'temperature') for scen in scenIndex], dim=scenIndex)

In [119]:
metric_df_fut = metric_ds_fut.to_dataframe('value').reset_index()

In [120]:
metric_df = pd.concat([metric_df_base, metric_df_fut], axis=0)
metric_df['tslice'] = metric_df['year'].apply(get_tslice)

In [121]:
metric_df.to_csv(f'{outdir}/metric_df_temperature.csv', index=False)

In [123]:
metric_df.loc[metric_df.metric == 'max_chd_40']

,metric,scen,seas,value,variable,year,tslice
840,max_chd_40,historical,Annual,57.0,temperature,1950,baseline-remain
841,max_chd_40,historical,Annual,46.0,temperature,1951,baseline-remain
842,max_chd_40,historical,Annual,60.0,temperature,1952,baseline-remain
843,max_chd_40,historical,Annual,52.0,temperature,1953,baseline-remain
844,max_chd_40,historical,Annual,54.0,temperature,1954,baseline-remain
845,max_chd_40,historical,Annual,54.0,temperature,1955,baseline-remain
846,max_chd_40,historical,Annual,54.0,temperature,1956,baseline-remain
847,max_chd_40,historical,Annual,57.0,temperature,1957,baseline-remain
848,max_chd_40,historical,Annual,50.0,temperature,1958,baseline-remain
849,max_chd_40,historical,Annual,60.0,temperature,1959,baseline-remain
850,max_chd_40,historical,Annual,59.0,temperature,1960,baseline-remain
851,max_chd_40,historical,Annual,57.0,temperature,1961,baseline-remain
852,max_chd_40,historical,Annual,58.0,temperature,1962,baseline-remain
853,max_chd_40,historical,Annual,54.0,temperature,1963,baseline-remain
854,max_chd_40,historical,Annual,47.0,temperature,1964,baseline-remain
855,max_chd_40,historical,Annual,55.0,temperature,1965,baseline-remain
856,max_chd_40,historical,Annual,52.0,temperature,1966,baseline-remain
857,max_chd_40,historical,Annual,54.0,temperature,1967,baseline-remain
858,max_chd_40,historical,Annual,49.0,temperature,1968,baseline-remain
859,max_chd_40,historical,Annual,53.0,temperature,1969,baseline-remain
860,max_chd_40,historical,Annual,60.0,temperature,1970,baseline-remain
861,max_chd_40,historical,Annual,52.0,temperature,1971,baseline-remain
862,max_chd_40,historical,Annual,56.0,temperature,1972,baseline-remain
863,max_chd_40,historical,Annual,54.0,temperature,1973,baseline-remain
864,max_chd_40,historical,Annual,52.0,temperature,1974,baseline-remain
865,max_chd_40,historical,Annual,60.0,temperature,1975,baseline-remain
866,max_chd_40,historical,Annual,62.0,temperature,1976,baseline
867,max_chd_40,historical,Annual,53.0,temperature,1977,baseline
868,max_chd_40,historical,Annual,61.0,temperature,1978,baseline
869,max_chd_40,historical,Annual,44.0,temperature,1979,baseline
...,...,...,...,...,...,...,...
53550,max_chd_40,rcp85,ON,0.0,temperature,2061,far
53551,max_chd_40,rcp85,ON,0.0,temperature,2062,far
53552,max_chd_40,rcp85,ON,0.0,temperature,2063,far
53553,max_chd_40,rcp85,ON,0.0,temperature,2064,far
53554,max_chd_40,rcp85,ON,0.0,temperature,2065,far
53555,max_chd_40,rcp85,ON,0.0,temperature,2066,far
53556,max_chd_40,rcp85,ON,0.0,temperature,2067,far
53557,max_chd_40,rcp85,ON,0.0,temperature,2068,far
53558,max_chd_40,rcp85,ON,0.0,temperature,2069,far
53559,max_chd_40,rcp85,ON,0.0,temperature,2070,far
53560,max_chd_40,rcp85,ON,0.0,temperature,2071,far
53561,max_chd_40,rcp85,ON,0.0,temperature,2072,far
53562,max_chd_40,rcp85,ON,0.0,temperature,2073,far
53563,max_chd_40,rcp85,ON,0.0,temperature,2074,far
53564,max_chd_40,rcp85,ON,0.0,temperature,2075,far
53565,max_chd_40,rcp85,ON,0.0,temperature,2076,far
53566,max_chd_40,rcp85,ON,0.0,temperature,2077,far
53567,max_chd_40,rcp85,ON,0.0,temperature,2078,far
53568,max_chd_40,rcp85,ON,0.0,temperature,2079,far
53569,max_chd_40,rcp85,ON,0.0,temperature,2080,far
53570,max_chd_40,rcp85,ON,0.0,temperature,2081,far
53571,max_chd_40,rcp85,ON,0.0,temperature,2082,far
53572,max_chd_40,rcp85,ON,0.0,temperature,2083,far
53573,max_chd_40,rcp85,ON,0.0,temperature,2084,far
53574,max_chd_40,rcp85,ON,0.0,temperature,2085,far
53575,max_chd_40,rcp85,ON,0.0,temperature,2086,far
53576,max_chd_40,rcp85,ON,0.0,temperature,2087,far
53577,max_chd_40,rcp85,ON,0.0,temperature,2088,far
53578,max_chd_40,rcp85,ON,0.0,temperature,2089,far
53579,max_chd_40,rcp85,ON,0.0,temperature,2090,far

,metric,scen,seas,value,variable,year,tslice
0,max_chd_35,historical,Annual,113.000000,temperature,1950,baseline-remain
1,max_chd_35,historical,Annual,109.000000,temperature,1951,baseline-remain
2,max_chd_35,historical,Annual,112.000000,temperature,1952,baseline-remain
3,max_chd_35,historical,Annual,114.000000,temperature,1953,baseline-remain
4,max_chd_35,historical,Annual,106.000000,temperature,1954,baseline-remain
5,max_chd_35,historical,Annual,107.000000,temperature,1955,baseline-remain
6,max_chd_35,historical,Annual,110.000000,temperature,1956,baseline-remain
7,max_chd_35,historical,Annual,114.000000,temperature,1957,baseline-remain
8,max_chd_35,historical,Annual,107.000000,temperature,1958,baseline-remain
9,max_chd_35,historical,Annual,109.000000,temperature,1959,baseline-remain
10,max_chd_35,historical,Annual,106.000000,temperature,1960,baseline-remain
11,max_chd_35,historical,Annual,118.000000,temperature,1961,baseline-remain
12,max_chd_35,historical,Annual,114.000000,temperature,1962,baseline-remain
13,max_chd_35,historical,Annual,107.000000,temperature,1963,baseline-remain
14,max_chd_35,historical,Annual,112.000000,temperature,1964,baseline-remain
15,max_chd_35,historical,Annual,113.000000,temperature,1965,baseline-remain
16,max_chd_35,historical,Annual,101.000000,temperature,1966,baseline-remain
17,max_chd_35,historical,Annual,106.000000,temperature,1967,baseline-remain
18,max_chd_35,historical,Annual,107.000000,temperature,1968,baseline-remain
19,max_chd_35,historical,Annual,105.000000,temperature,1969,baseline-remain
20,max_chd_35,historical,Annual,108.000000,temperature,1970,baseline-remain
21,max_chd_35,historical,Annual,105.000000,temperature,1971,baseline-remain
22,max_chd_35,historical,Annual,103.000000,temperature,1972,baseline-remain
23,max_chd_35,historical,Annual,110.000000,temperature,1973,baseline-remain
24,max_chd_35,historical,Annual,113.000000,temperature,1974,baseline-remain
25,max_chd_35,historical,Annual,110.000000,temperature,1975,baseline-remain
26,max_chd_35,historical,Annual,110.000000,temperature,1976,baseline
27,max_chd_35,historical,Annual,112.000000,temperature,1977,baseline
28,max_chd_35,historical,Annual,110.000000,temperature,1978,baseline
29,max_chd_35,historical,Annual,107.000000,temperature,1979,baseline
...,...,...,...,...,...,...,...
76110,daily_temperature_range_variability,rcp85,ON,0.315002,temperature,2061,far
76111,daily_temperature_range_variability,rcp85,ON,0.309275,temperature,2062,far
76112,daily_temperature_range_variability,rcp85,ON,0.337727,temperature,2063,far
76113,daily_temperature_range_variability,rcp85,ON,0.284402,temperature,2064,far
76114,daily_temperature_range_variability,rcp85,ON,0.290581,temperature,2065,far
76115,daily_temperature_range_variability,rcp85,ON,0.288005,temperature,2066,far
76116,daily_temperature_range_variability,rcp85,ON,0.360207,temperature,2067,far
76117,daily_temperature_range_variability,rcp85,ON,0.268361,temperature,2068,far
76118,daily_temperature_range_variability,rcp85,ON,0.316055,temperature,2069,far
76119,daily_temperature_range_variability,rcp85,ON,0.317826,temperature,2070,far
76120,daily_temperature_range_variability,rcp85,ON,0.395394,temperature,2071,far
76121,daily_temperature_range_variability,rcp85,ON,0.330771,temperature,2072,far
76122,daily_temperature_range_variability,rcp85,ON,0.339312,temperature,2073,far
76123,daily_temperature_range_variability,rcp85,ON,0.334428,temperature,2074,far
76124,daily_temperature_range_variability,rcp85,ON,0.337431,temperature,2075,far
76125,daily_temperature_range_variability,rcp85,ON,0.325160,temperature,2076,far
76126,daily_temperature_range_variability,rcp85,ON,0.309946,temperature,2077,far
76127,daily_temperature_range_variability,rcp85,ON,0.354703,temperature,2078,far
76128,daily_temperature_range_variability,rcp85,ON,0.308547,temperature,2079,far
76129,daily_temperature_range_variability,rcp85,ON,0.290554,temperature,2080,far
76130,daily_temperature_range_variability,rcp85,ON,0.316527,temperature,2081,far
76131,daily_temperature_range_variability,rcp85,ON,0.342548,temperature,2082,far
76132,daily_temperature_range_variability,rcp85,ON,0.286288,temperature,2083,far
76133,daily_temperature_range_variability,rcp85,ON,0.310911,temperature,2084,far
76134,daily_temperature_range_variability,rcp85,ON,0.292306,temperature,2085,far
76135,daily_temperature_range_variability,rcp85,ON,0.343572,temperature,2086,far
76136,daily_temperature_range_variability,rcp85,ON,0.319782,temperature,2087,far
76137,daily_temperature_range_variability,rcp85,ON,0.295972,temperature,2088,far
76138,daily_temperature_range_variability,rcp85,ON,0.349303,temperature,2089,far
76139,daily_temperature_range_variability,rcp85,ON,0.353776,temperature,2090,far